{% extends "base.html" %}

{% block title %} Expense Tracker - Add Expense {% endblock %}

{% block content %}
    <div class="jumbotron">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.expense_name.label(class="form-label") }}
                {{ form.expense_name(class="form-control") }}
            </div>
            <div>
                {{ form.expense_amount.label(class="form-label") }}
                {{ form.expense_amount(class="form-control") }}
            </div>
            <div>
                {{ form.expense_category.label(class="form-label") }}
                {{ form.expense_category(class="form-control") }}
            </div>
            <div>
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>
            <br/>
            <div class="add-expense-form-buttons">
                {{ form.submit_button(class="btn custom-save-btn") }}
                <a type="button" class="btn btn-danger" href="/dashboard">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}