{% extends "base.html" %}

{% block title %} Expense Tracker - Dashboard {% endblock %}

{% block content %}
    <h1 class="Heading-message"> Hello {{current_user.first_name}} ! What do you want to do today?</h1>
    <div class="main-container">
        <button class="menu-buttons">Add Expense</button>
        <button class="menu-buttons">View Expense</button>
        <button class="menu-buttons">Update Expense</button>
        <button class="menu-buttons">Delete Expense</button>
    </div>
{% endblock %}