/* General CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    /* display: flex;
    flex-direction: column;
    height: 100vh; */
    margin: 0;
    /* background-color: rgb(129, 129, 129) !important; */
}

/* CSS for Navbar starts here*/
.navbar-dark.bg-dark {
    background-color: #333 !important;
}

/* CSS for home page, login and signup form */
.container{
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container{
    background-color: #f9f9f9;
    padding: 20px 30px 0px 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.form-container h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333
}

.form-container input{
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
}

.form-container button:hover{
    background-color: #575757;
}

.form-para{
    padding-top: 10px;
}

p a{
    text-decoration: none;
    color: rgb(0, 128, 255);
    transition: 0.3s ease all;
}

p a:hover{
    text-decoration: none;
}

.home-content{
    background-color: #f9f9f9;
    padding: 15px 10px 10px 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 164px;
    width: 100%;
    position: fixed;
    margin-top: 87px;
}

.subtext{
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

.Heading-message{
    padding-top: 105px;
}

.main-container{
    background-color: #fffefe;
    box-shadow: 10px 10px 20px rgba(152, 234, 0, 0.975);
    border: 3px solid black;
    border-radius: 5px;
    height: 200px;
    width: 750px;
    margin: auto;
    top: 35%;
    left: 25%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-container .menu-buttons{
    background-color: #007bff;
    color: #fff;
    height: 50px;
    width: 165px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease all;
    font-size: large;
    text-align: center; /* Horizontally align text */
    line-height: 50px; /* Vertically align text */
    padding: 0; /* Remove padding to ensure proper alignment */
}

.main-container .menu-buttons:hover{
    background-color: #0056b3;
    text-decoration: none;
    color: #fff;
}

/* CSS for Add Expense Form and View Expense Page*/
.jumbotron{
    background-color: #f7f7f7 !important;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 550px;
    height: auto;
    align-items: center;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem !important; /* Overrides Bootstrap's default for larger screens */
    }
}

.form-control{
    margin-bottom: 2px !important;
}

.add-expense-form-buttons, .view-expense-page-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.custom-save-btn {
    background-color: #333 !important;
    color: #fff !important;
}

.add-expense-form-buttons .custom-save-btn:hover{
    background-color: #575757 !important;
}

/* View Expense Page CSS Starts here.*/
.view-expense-page-container{
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 1180px;
    height: auto;
    text-align: left;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    /* display: none; */
}

.view-expense-page-container ul{
    list-style: none;
}

.view-expense-page-buttons .custom-save-btn:hover{
    background-color: #575757 !important;
}

i{
    color: #333;
}

i:hover{
    cursor: pointer;
    color: red;
    transition: 0.1s ease all;
    }

.custom-download-btn{
    background-color: #333 !important;
    color: #fff;
    width: 115px;
    height: 35px;
    border-radius: 0.25rem;
}

.custom-download-btn:hover{
    background-color: #575757 !important;
    transition: 0.3s ease all;
}

/* Delete Modal CSS */
.random{
    background-color: #333;
    color: #fff;
    z-index: 2000;
    width: 25vw;
    height: 23vh;
    padding: 13px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    top: 39%;
    left: 39%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    opacity: 1;
    transition: all 0.3s ease;
}

/* Modal Visible Animation */
.random.show {
    transform: scale(1);
    opacity: 1;
}

/* Modal Buttons */
.random_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}